.main-statii{
    width:75%;
    max-width: 1080px;
    margin-left:auto;
    margin-right:auto;
    margin-top:45px;
    height:450px;
    display:grid;
    grid-template-columns: 60% 33%;
    gap: 7%;
}

.content-statiq{
    display: grid;
    grid-template-rows: 70% 30%;
    background-color: white;
}
.main-statiq{
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-rows: 80% 20%;
}
.secondary-statiq{
    width:100%;
    height:100%;
    display:grid;
    grid-template-rows: 45% 45%;
    gap: 10%;
}
.statiq-title{
    background-color: #2F2FA2;
    font-family: var(--font-family-rubik_mono_one);
    color:white;
    display:flex;
    font-size:12px;
    align-items:center;
    text-align: center;
    padding-left:30px;
    padding-right:30px;
}
.main{
    font-size:22px;
}
.more-statii{
    margin-top: 120px;
    width:100%;
    max-width: 1440px;
    margin-left:auto;
    margin-right:auto;
}
.border{
    margin-left:auto;
    margin-right: auto;
    width:90%;
    height:50px;
    border-bottom: white solid;
    display:flex;
    align-items: center;
}
#border-text{
    font-family: var(--font-family-comfortaa);
    color: black;
    width:fit-content;
    font-size: 24px;
    margin-left:50px;
}
.content-statiq-secondary{
    width:100%;
    height:100%;
    background-color:#2F2FA2;
    display:grid;
    grid-template-rows: 20% 80%;

}
.statia-all{
    
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    height:250px;
    display:grid;
    grid-template-columns: 30% 60%;
    gap:10%;
}
.statia-secondary{
    display:flex;
    align-items: center;
}
.border-image{
    height:250px;
    margin-left:auto;
    margin-right:auto;
}
.content-statiq-secondary-title{
    color:white;
    font-family: var(--font-family-rubik_mono_one);
    font-size:26px;
    text-align:center;
}