{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
<h1>{{statia.title}}</h1>
{% for i in range(5) %}
    <div class="box">
        <div class = "content1">
            <div class="image-content">
                <img class="image" src="https://evtino.s3.eu-central-1.amazonaws.com/{{ products[i].imagepath }}">
            </div>
            <div class="info-content">
                <h2>{{products[i].productname}}</h2>
                
                {{products[i].content}}
            </div>
            <div class="specs-content">
                <div class="row">
                    <div class="item"><span class="specs">{{statia.spec1}}</span><br>{{products[i].spec1answ}}</div>
                    <div class="item"><span class="specs">{{statia.spec2}}</span><br>{{products[i].spec2answ}}</div>
                    <div class="item"><span class="specs">{{statia.spec3}}</span><br>{{products[i].spec3answ}}</div>
                </div>
                <div class="row">
                    <div class="item"><span class="specs">{{statia.spec4}}</span><br>{{products[i].spec4answ}}</div>
                    <div class="item"><span class="specs">{{statia.spec5}}</span><br>{{products[i].spec5answ}}</div>
                    <div class="item"><span class="specs">{{statia.spec6}}</span><br>{{products[i].spec6answ}}</div>
                </div>
            </div>
            <div class="prices-content">
                <div class="row-price">
                    <div class="item-price">
                        <img class="logo" src="./static/images/techo.png">
                        <button class="button">Провери цена</button>
                    </div>
                    <div class="item-price"><img class="logo" src="./static/images/techo.png"></div>
                </div>
            </div>
        </div>
    </div>
    {% endfor%}
    <form method="post" action="/adminstatii{{statia.slug}}" enctype="multipart/form-data">
        <dl>
            Title
            <input type = "text" name ="title"><br>
            slug <input type="text" name = "slug"><br>
            spec1: <input type = "text" name = spec1><br>
            spec2: <input type = "text" name = spec2><br>
            spec3: <input type = "text" name = spec3><br>
            spec4: <input type = "text" name = spec4><br>
            spec5: <input type = "text" name = spec5><br>
            spec5: <input type = "text" name = spec6><br>
            category: <input type = "text" name = "category"><br>
            intro: <input type="text" name="intro"><br><br><br><br>
    
            {% for i in range(5) %}
            1:
            Product name
            <input type ="text" name = "productname"><br>Product id:<input type="number" name = "id"><br>
            <input type="file" name="file" class="form-control" autocomplete="off" ><br>
            Content:<input type = "text" name = "content"><br>
            specifications:<input type = "text" name="spec1answ">
            <input type = "text" name="spec2answ">
            <input type = "text" name="spec3answ">
            <input type = "text" name="spec4answ">
            <input type = "text" name="spec5answ">
            <input type = "text" name="spec6answ">
            <br>
            <br>
            {% endfor %}
            
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>
{% endblock %}





