{% extends 'layout.html'%}
{% block head %}
<link rel="stylesheet" href="./static/statii-all.css">
{% endblock %}
{% block main%}
<div class="main-statii">
    <div class="main-statiq content-statiq">
        <div class="images"></div>
        <div class="statiq-title main">Най-добрите монитори под 300лв за 2022</div>
    </div>
    <div class="secondary-statiq">
        <div class="content-statiq">
            <div class="images"></div>
            <div class="statiq-title">Най-добрите монитори под 300лв за 2022</div>
        </div>
        <div class="content-statiq">
            <div class="images"></div>
            <div class="statiq-title">Най-добрите монитори под 300лв за 2022</div>
        </div>
    </div>
</div>
<div class="more-statii">
    <div class="border">
        <div id="border-text">
            Предишни статии
        </div>
    </div>
    {% for statiq in statii %}
        <div class="statia-all">
            <div class="border-image">
                <img class="statia-secondary images" src="https://evtino.s3.eu-central-1.amazonaws.com/{{statiq.mainimage}}">
            </div>
            <div class="content-statiq-secondary">
                <div class="content-statiq-secondary-title">
                    {{statiq.title}}
                </div>
                <div class="content-statia-secondary-intro">
                    {{statiq.intro}}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<script type="text/javascript" src="./static/scripts/image-adjust.js"></script>
{% endblock %}
