<!DOCTYPE html>
<body>

</body>
<head>
    {% if message %}
        <p>{{message}}</p>
    {%endif%}
    <form method="post" action="/adminnapishi" enctype="multipart/form-data">
        <dl>
            Title
            <input type = "text" name ="title"><br>
            slug <input type="text" name = "slug"><br>
            spec1: <input type = "text" name = spec1><br>
            spec2: <input type = "text" name = spec2><br>
            spec3: <input type = "text" name = spec3><br>
            spec4: <input type = "text" name = spec4><br>
            spec5: <input type = "text" name = spec5><br>
            spec5: <input type = "text" name = spec6><br>
            Main image <input type="file" name="file" class="form-control" autocomplete="off" required>
            category: <input type = "text" name = "category"><br>
            intro: <input type="text" name="intro"><br><br><br><br>

            {% for i in range(5) %}
                1:
                Product name
                <input type ="text" name = "productname"><br>Product id:<input type="number" name = "id"><br>
                <input type="file" name="file" class="form-control" autocomplete="off" required><br>
                Content:<input type = "text" name = "content"><br>
                specifications:<input type = "text" name="spec1answ">
                <input type = "text" name="spec2answ">
                <input type = "text" name="spec3answ">
                <input type = "text" name="spec4answ">
                <input type = "text" name="spec5answ">
                <input type = "text" name="spec6answ">
                <br>
                <br>
            {% endfor %}
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>
</head>