<dl>
    <h1>Title</h1>
    <input type = "text" name ="title">
    <h1>Product name</h1>
    <input type ="text" name = "product1name">Product id:<input type="number" name = "id"><br>
    <input type="file" name="file" class="form-control" autocomplete="off" required>
    <p>
        <input type="file" name="file" class="form-control" autocomplete="off" required>
        <input type="file" name="file1" class="form-control" autocomplete="off" required>
        <input type="file" name="file2" class="form-control" autocomplete="off" required>
        <input type="file" name="file3" class="form-control" autocomplete="off" required>
        <input type="file" name="file4" class="form-control" autocomplete="off" required>
    </p>
</dl>