<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./static/homepage.css">

</head>
<body>
    <div class="nav-menu">
        <a href="/">
            <img class="image-1" src="/static/images/logo.png" alt="logo">
        </a>
        <div class = "frame-1">
            <div class="text comfortaa-normal-white-24px"><a href="/statii">Статии</a></div>
            <div class="text comfortaa-normal-white-24px">Оферти на деня</div>
            <div class="text comfortaa-normal-white-24px"><a href="/products/">Продукти</a></div>
        </div>
    </div>
    <div class="slider">
        <img class="image-slider" src="/static/images/slider1.jpg" alt="promo">
    </div>
    <div class="badges">
        <div class="badge">
            <img src="/static/images/badge1.png" alt="Flowers in Chania">
            <div class="text-7 valign-text-middle rubikmonoone-normal-white-14px">Сигурни магазини</div>
        </div>
        <div class="badge">
            <img src="/static/images/badge2.png">
            <div class="text-8 valign-text-middle rubikmonoone-normal-white-14px">избери <br/> най-добрите цени</div>
        </div>
        <div class="badge">
            <img src="/static/images/badge3.png">
            <div class="text-9 valign-text-middle rubikmonoone-normal-white-14px">намери продуктът за теб</div>
        </div>
        <div class="badge">
            <img src="/static/images/badge4.png">
            <div class="text-10 valign-text-middle rubikmonoone-normal-white-14px">доволни<br/> клиенти</div>
        </div>
    </div>
    <div class="textoferti">Оферти на деня</div>
    <div class="products">
        {% for product in dict1 %}
            <div class="product-card">
                <img class = "card-image" src="{{ dict1[product].image }}">
                <div class = "content">
                    <div class="title-1">
                        <p class="title">{{ dict1[product].title }}</p>
                    </div>
                    <div class="price">
                        <div class="price-old">
                            <div class="price-old-lev">
                                {{ dict1[product].lev}}
                            </div>
                            <div class="old-st-text">
                                <div class="price-old-st">
                                    .{{ dict1[product].st }}
                                </div>
                                <div class="price-old-lv-text">
                                    лв
                                </div>
                            </div>
                        </div>
                        <div class="price-old new">
                            <div class="price-old-lev black">
                                {{ dict1[product].lev}}
                            </div>
                            <div class="old-st-text">
                                <div class="price-old-st black">
                                    .{{ dict1[product].st }}
                                </div>
                                <div class="price-old-lv-text new-st">
                                    лв
                                </div>
                            </div>
                        </div>
                        <div class="enter">
                            <img style="width: 18%;height:75%;float: right;margin-top: 5px;margin-right: 10px; "src="/static/images/arrow-right.png">
                        </div>
                    </div>
                    <div class="logo">
                        <img style="margin-left: 25%; height: 100%;width: 50%;" src="/static/images/techo.png">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="statiinav">
        <div class="nav">
            <div id="nav1">монитори
            </div>
            <div class="animation" id="animation1"></div>
            <div id="nav2">лаптопи
            </div>
            <div class="animation" id="animation2"></div>
            <div id="nav3">телефони
            </div>
            <div class="animation" id="animation3"></div>
            <div id="nav4">телевизори
            </div>
            <div class="animation" id="animation4"></div>
            <div id="nav5">компютри
            </div>
            <div class="animation" id="animation5"></div>
            <div id="nav6">компютърна периферия
            </div>
            <div class="animation6" id="animation6"></div>
        </div>
        <div class="select"></div>
    </div>
    <div class="abonament">
        <form style="width:100%; height: 100%;">
            <input  type="text" id="buletina">
            <button type="submit", id="button"></button>
        </form>
    </div>
    <div class="footer"></div>
</body>