<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./static/homepage.css">

</head>
<body>
    <div class="nav-menu">
        <img class="image-1" src="/static/images/logo.png" alt="logo">
        <div class = "frame-1">
            <div class="text comfortaa-normal-white-24px">Статии</div>
            <div class="text comfortaa-normal-white-24px">Оферти на деня</div>
            <div class="text comfortaa-normal-white-24px">Продукти</div>
        </div>
    </div>
    <div class="slider">
        <img class="image-slider" src="/static/images/slider1.jpg" alt="promo">
    </div>
    <div class="badges">
        <div class="badge">
            <img src="/static/images/badge1.png" alt="Flowers in Chania">
            <div class="text-7 valign-text-middle rubikmonoone-normal-white-14px">Сигурни магазини</div>
        </div>
        <div class="badge">
            <img src="/static/images/badge2.png">
            <div class="text-8 valign-text-middle rubikmonoone-normal-white-14px">избери <br/> най-добрите цени</div>
        </div>
        <div class="badge">
            <img src="/static/images/badge3.png">
            <div class="text-9 valign-text-middle rubikmonoone-normal-white-14px">намери продуктът за теб</div>
        </div>
        <div class="badge">
            <img src="/static/images/badge4.png">
            <div class="text-10 valign-text-middle rubikmonoone-normal-white-14px">доволни<br/> клиенти</div>
        </div>
    </div>
    <div class="textoferti">Оферти на деня</div>
    <div class="products">
        <div class="product-card">
            <img class = "card-image"src="https://s13emagst.akamaized.net/products/48592/48591241/images/res_427992596019b4690e24dcda076fff6a.jpg?width=720&height=720&hash=CEFD56ABAF75524830B17742D9E971DC">
            <div class = "content">
                <div class="title-1">
                    <p class="title">Смартфон Apple iPhone 14 Pro Max, 128GB, 5G, Silver</p>
                </div>
                <div class="price">
                    <div class="price-old">
                        <div class="price-old-lev smaller">
                            169
                        </div>
                        <div class="old-st-text">
                            <div class="price-old-st smaller1">
                                .69
                            </div>
                            <div class="price-old-lv-text smaller1">
                                лв
                            </div>
                        </div>
                    </div>
                    <div class="price-old new">
                        <div class="price-old-lev black">
                            169
                        </div>
                        <div class="old-st-text">
                            <div class="price-old-st black">
                                .69
                            </div>
                            <div class="price-old-lv-text new-st">
                                лв
                            </div>
                        </div>
                    </div>
                    <div class="enter">
                        <img style="width:50%;height:75%;margin-left: 25%;margin-top: 10%; "src="/static/images/arrow-right.png">
                    </div>
                </div>
                <div class="logo">
                    <img style="margin-left: auto; margin-right: auto; height: 100%;" src="/static/images/techo.png">
                </div>

            </div>
        </div>
        <div class="product-card">

        </div>
        <div class="product-card">

        </div>
        <div class="product-card">

        </div>
        <div class="product-card">

        </div>
    </div>
    <div class="statiinav">
        <div class="nav">
            <div id="nav1">монитори
            </div>
            <div class="animation" id="animation1"></div>
            <div id="nav2">лаптопи
                <div class="animation" id="animation2"></div>
            </div>
            <div id="nav3">телефони
                <div class="animation" id="animation3"></div>
            </div>
            <div id="nav4">телевизори
                <div class="animation" id="animation4"></div>
            </div>
            <div id="nav5">компютри
                <div class="animation" id="animation5"></div>
            </div>
            <div id="nav6">компютърна периферия
                <div class="animation" id="animation"></div>
            </div>
        </div>
        <div class="select"></div>
    </div>
    <div class="abonament">
        <form style="width:100%; height: 100%;">
            <input style="height: 27px; width: 400px; margin-top: auto; margin-bottom: auto; " type="text">
            <button type="submit" class="btn btn-primary"></button>
        </form>
    </div>
    <div class="footer"></div>
</body>