<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./static/homepage.css">
    <link rel="stylesheet" href="./static/statii.css">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="nav-menu">
        <img class="image-1" src="/static/images/logo.png" alt="logo">
        <div class = "frame-1">
            <div class="text comfortaa-normal-white-24px">Статии</div>
            <div class="text comfortaa-normal-white-24px">Оферти на деня</div>
            <div class="text comfortaa-normal-white-24px">Продукти</div>
        </div>
    </div>
    <main>
        {% block main %}{% endblock %}
    </main>