{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="./static/homepage.css">
<link rel="stylesheet" href="./static/productsall.css">

{% endblock %}

{% block main %}
<div class="wrapper">
    <div class="filters">
        <div class="categorii">
            <div class="title-categorii">Категории</div>
            <a href="/products/?category=smartphone"><li class ="list">Смартфони</li></a>
            <a href="/products/?category=tv"><li class ="list">Телевизори</li></a>
            <a href="/products/?category=laptopo"><li class ="list">Лаптопи</li></a>
            <a href="/products/?category=peralnq"><li class ="list">Смартфон</li></a>
        </div>
        <div class="categorii">
            <div class="title-categorii">Модел</div>
            <a href="{{ current_url }}&category=apple"><li class ="list">Apple</li></a>
            <a href="{{ current_url }}&category=samsung"><li class ="list">Samsung</li></a>
            <a href="{{ current_url }}&category=xiaomi"><li class ="list">Xiaomi</li></a>
            <a href="{{ current_url }}&ategory=huawei"><li class ="list">Huawei</li></a>
            <a href="{{ current_url }}&category=alcatel"><li class ="list">Alcatel</li></a>
        </div>
        <div class="categorii">
            <div class="title-categorii">ram</div>
            <a href="{{ current_url }}&ram=2"><li class ="list">Apple</li></a>
            <a href="{{ current_url }}&ram=3"><li class ="list">Samsung</li></a>
            <a href="{{ current_url }}&ram=4"><li class ="list">Xiaomi</li></a>
            <a href="{{ current_url }}&ram=5"><li class ="list">Huawei</li></a>
            <a href="{{ current_url }}&ram=6"><li class ="list">Alcatel</li></a>
        </div>
    </div>
    <div class="every-product">
        <div class="background">
            <div class="productall-title title">
                <div id="title1">Смарфони</div><button class="behind">behind</button>
                <button class="behind">behind</button>

            </div>
            <div class="category-background">

                {% for smartphone in smartphones%}
                <a href="/products/product-{{smartphone.id}}">
                <div class="product-card productall 1">
                    <img class="card-image" src="{{ smartphone.imagesrc }}">
                    <div class="content">
                        <div class="title-1">
                            <p class="title">{{ smartphone.productname}}</p>
                        </div>
                        <div class="price">
                            {% if smartphone.levsale %}
                            <div class="price-old">
                                <div class="price-old-lev">
                                    {{ smartphone.lev }}
                                </div>
                                <div class="old-st-text">
                                    <div class="price-old-st">
                                        {{ smartphone.st}}
                                    </div>
                                    <div class="price-old-lv-text">
                                        лв
                                    </div>
                                </div>
                            </div>
                            <div class="price-old new">
                                <div class="price-old-lev black">
                                    {{ smartphone.levsale }}
                                </div>
                                <div class="old-st-text">
                                    <div class="price-old-st black">
                                        {{ smartphone.stsale }}
                                    </div>
                                    <div class="price-old-lv-text new-st">
                                        лв
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="price-old new">
                                <div class="price-old-lev black">
                                    {{ smartphone.lev }}
                                </div>
                                <div class="old-st-text">
                                    <div class="price-old-st black">
                                        {{ smartphone.st}}
                                    </div>
                                    <div class="price-old-lv-text new-st">
                                        лв
                                    </div>
                                </div>
                            </div>
                            <div class="price-old new">
                                <div class="price-old-lev black">

                                </div>
                                <div class="old-st-text">
                                    <div class="price-old-st black">

                                    </div>
                                    <div class="price-old-lv-text new-st">

                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="enter">
                                <img style="width: 18%;height:75%;float: right;margin-top: 5px;margin-right: 10px; "
                                    src="/static/images/arrow-right.png">
                            </div>
                        </div>
                        {% if smartphone.store == "emag" %}
                        <div class="logo">
                            <img style="margin-left: 37.5%; height: 60%; width: 25%; margin-top: 5%;"
                                src="/static/images/emag.png">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </a>
                {% endfor %}
            </div>
            
            <div class="productall-title title margin">
                <div id="title1">Смарфони</div><button class="behind">behind</button>
                <button class="behind">behind</button>

            </div>
     
       
            <div class="category-background">

                {% for smartphone in smartphones%}
                <a href="/products/{{smartphone.id}}">
                <div class="product-card productall 2">
                    <img class="card-image" src="{{ smartphone.imagesrc }}">
                    <div class="content">
                        <div class="title-1">
                            <p class="title">{{ smartphone.productname}}</p>
                        </div>
                        <div class="price">
                            {% if smartphone.levsale %}
                            <div class="price-old">
                                <div class="price-old-lev">
                                    {{ smartphone.lev }}
                                </div>
                                <div class="old-st-text">
                                    <div class="price-old-st">
                                        {{ smartphone.st}}
                                    </div>
                                    <div class="price-old-lv-text">
                                        лв
                                    </div>
                                </div>
                            </div>
                            <div class="price-old new">
                                <div class="price-old-lev black">
                                    {{ smartphone.levsale }}
                                </div>
                                <div class="old-st-text">
                                    <div class="price-old-st black">
                                        {{ smartphone.stsale }}
                                    </div>
                                    <div class="price-old-lv-text new-st">
                                        лв
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="price-old new">
                                <div class="price-old-lev black">
                                    {{ smartphone.lev }}
                                </div>
                                <div class="old-st-text">
                                    <div class="price-old-st black">
                                        {{ smartphone.st}}
                                    </div>
                                    <div class="price-old-lv-text new-st">
                                        лв
                                    </div>
                                </div>
                            </div>
                            <div class="price-old new">
                                <div class="price-old-lev black">

                                </div>
                                <div class="old-st-text">
                                    <div class="price-old-st black">

                                    </div>
                                    <div class="price-old-lv-text new-st">

                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="enter">
                                <img style="width: 18%;height:75%;float: right;margin-top: 5px;margin-right: 10px; "
                                    src="/static/images/arrow-right.png">
                            </div>
                        </div>
                        {% if smartphone.store == "emag" %}
                        <div class="logo">
                            <img style="margin-left: 37.5%; height: 60%; width: 25%; margin-top: 5%;"
                                src="/static/images/emag.png">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </a>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

</div>
<script type="text/javascript" src="./static/slider.js"></script>
{%endblock%}