{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
<h1>{{statia.title}}</h1>
{% for i in range(5) %}
    <div class="box">
        <div class = "content1">
            <div class="image-content">
                <img class="image" src="{{statia.products[i].imagepath}}">
            </div>
            <div class="info-content">
                <h2>{{statia.products[i].productname}}</h2>
                
                {{statia.products[i].content}}
            </div>
            <div class="specs-content">
                <div class="row">
                    <div class="item"><span class="specs">{{statia.spec1}}</span><br>{{statia.products[i].spec1answ}}</div>
                    <div class="item"><span class="specs">{{statia.spec2}}</span><br>{{statia.products[i].spec2answ}}</div>
                    <div class="item"><span class="specs">{{statia.spec3}}</span><br>{{statia.products[i].spec3answ}}</div>
                </div>
                <div class="row">
                    <div class="item"><span class="specs">{{statia.spec4}}</span><br>{{statia.products[i].spec4answ}}</div>
                    <div class="item"><span class="specs">{{statia.spec5}}</span><br>{{statia.products[i].spec5answ}}</div>
                    <div class="item"><span class="specs">{{statia.spec6}}</span><br>{{statia.products[i].spec6answ}}</div>
                </div>
            </div>
            <div class="prices-content">
                <div class="row-price">
                    <div class="item-price">
                        <img class="logo" src="./static/images/techo.png">
                        <button class="button">Провери цена</button>
                    </div>
                    <div class="item-price"><img class="logo" src="./static/images/techo.png"></div>
                </div>
            </div>
        </div>
    </div>
    {% endfor%}
{% endblock %}