{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
<h1>Title</h1>
<div class="box">
    <div class = "content">
        <div class="image-content">
            <img class="image" src="./static/uploads/14-pro-max-purple-prod.png">
        </div>
        <div class="info-content">
            <h2>Apple Iphone 14 pro max</h2>
            
Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec arcu ut enim accumsan tincidunt eu id felis. Morbi ullamcorper mauris ut venenatis feugiat. In maximus mauris id aliquet imperdiet. Ut bibendum efficitur turpis sit amet posuere. Donec dapibus eros quis ultricies facilisis. Donec vitae pellentesque lorem. Sed quis purus nunc. Nulla nec efficitur elit. Nulla vitae ex at leo euismod euismod eu facilisis mi.

In hac habitasse platea dictumst. Vestibulum quis semper ante. Vivamus tincidunt scelerisque sem sed tristique. Quisque lobortis est et suscipit bibendum. Morbi in velit commodo, venenatis enim auctor, gravida ex. Donec dignissim congue purus sit.
        </div>
        <div class="specs-content">
            <div class="row">
                <div class="item"><span class="specs">Резолюция:</span><br>1920x1080</div>
                <div class="item"><span class="specs">Честота на опресняване:</span><br>1920x1080</div>
                <div class="item"><span class="specs">тегло:</span><br>1920x1080</div>
            </div>
            <div class="row">
                <div class="item"><span class="specs">Размер на екран:</span><br>1920x1080</div>
                <div class="item"><span class="specs">Иновативни технологии:</span><br>Freesync, Premium pro, Vesa, ankara, instanbul</div>
                <div class="item"><span class="specs">Честота на опресняване:</span><br>1920x1080</div>
            </div>
        </div>
        <div class="prices-content">
            <div class="row-price">
                <div class="item-price">
                    <img class="logo" src="./static/images/techo.png">
                    <button class="button">Провери цена</button>
                </div>
                <div class="item-price"><img class="logo" src="./static/images/techo.png"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}